<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
        <add name="dbx" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\Program Files\Projects\PembayaranAir\database\dbAir.mdb"
            providerName="System.Data.OleDb" />
        <add name="PembayaranAir.My.MySettings.dbAirConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\dbAir.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>